<% obj.each do |article| %>
  <div class="row">
    <div class="col-xs-8">
      <div class="card">
        <div class="card-header">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="card-body">
          <small>
              Created by: <%= article.user.username if article.user %>,
              <%= time_ago_in_words(article.created_at) %> ago,
              last update: <%= time_ago_in_words(article.updated_at) %>
          </small>
          <p class="card-text">
            <%= truncate(article.description, length: 100) %>
          <p>

          <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(article), method: :delete,
              data: {confirm: "Are you sure?"},
              class: "btn btn-xs btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
