<%= render 'shared/page_header', title: "Edit existing article" %>

<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <%= render 'form' %>
    </div>
  </div>
</div>
