<%= render 'shared/page_header', title: "Listing all articles" %>

<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <%= render 'article', obj: @articles %>

      <div align="center">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
