<%= render 'shared/page_header', title: @article.title %>

<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <div class="center">
        Description
      </div>
      <hr/>
      <%= simple_format(@article.description) %>


      <div class="article-actions">
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(@article), method: :delete,
              data: {confirm: "Are you sure?"},
              class: "btn btn-xs btn-danger" %>
        <% end %>``
        <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
      </div>
    </div>
  </div>
</div>
