<%= render 'shared/page_header', title: "All users" %>

<div class="main main-raised">
  <div class="section section-basic">
    <% @users.each do |user| %>
          <div class="card">
            <div class="card-body">
              <li>
                <%= link_to gravatar_for(user), user_path(user) %>
              </li>
              <li>
                <%= link_to user.username, user_path(user) %>
              </li>
              <li>
                <small>
                  <%= pluralize(user.articles.count, 'article') %>
                </small>
              </li>
              <% if logged_in? && current_user.admin? %>
              <li>
                  <%= link_to "Delete this user", user_path(user), method: :delete,
                    data: {confirm: "Are you sure you want to destroy the user and his articles?"} %>
              </li>
              <% end %>
            </div>
          </div>
    <% end %>
  </div>
</div>
