<%= render 'shared/page_header', title: "Welcome to #{@user.username}'s page" %>

<div class="main main-raised">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <p align="center">
      <%= gravatar_for @user, size: 150 %>
    </p>

    <h4 align="center">
      <%= @user.username %>'s articles
    </h4>

    <div class="center">
      <%= will_paginate @user_articles %>
    </div>
    <%= render 'articles/article', obj: @user_articles  %>

  </div>
</div>
