<% if obj.errors.any? %>
<div class="card card-nav-tabs">
  <div class="card-header card-header-danger">
          <%= pluralize(obj.errors.count, "error") %>
          prohibited this article from being saved:
  </div>
  <ul class="list-group list-group-flush">
    <% obj.errors.full_messages.each do |msg| %>
      <li class="list-group-item"><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
