<div class="page-header header-filter clear-filter purple-filter" data-parallax="true"
    style="height: 300px; background-image: url(&quot;https://demos.creative-tim.com/material-kit/assets/img/bg2.jpg&quot;); transform: translate3d(0px, 15px, 0px); ">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1><%= title %></h1>
          <h3><%= subtitle if defined?(subtitle) %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
