<footer class="footer" data-background-color="black">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li><%= link_to "About", about_path, class: "text-muted"%></li>
      </ul>
    </nav>

    <div class="copyright float-right">
      Copyright &copy <a href="#">link</a> by somebody
    </div>
  </div>
</footer>
