<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg">
  <div class="container">
    <div class="navbar-translate">
      <%= link_to "Tenwords", root_path, class: "navbar-brand", id:"logo" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to 'Log out', logout_path, method: :delete, class: "nav-link p-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Articles", articles_path, class: "nav-link p-2" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
              <%= link_to "New Article", new_article_path, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in', login_path, class: "nav-link p-2" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', signup_path, class: "nav-link p-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
