<!DOCTYPE html>
<html>
  <head>
    <title>Tenwords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="index-page sidebar-collapse">
    <%= render 'layouts/navigation' %>

    <%= yield %>

    <%= render 'layouts/messages' %>
    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
